{% include mainheader.html %}

        <section id="downloads">
          <a href="https://github.com/{{ page.developer }}/{{ page.projectid }}/zipball/{{ page.branch }}" class="btn">Download as .zip</a>
          <a href="https://github.com/{{ page.developer }}/{{ page.projectid }}/tarball/{{ page.branch }}" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/{{ page.developer }}/{{ page.projectid }}/" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
        <section id="site-nav">
          <a href="releases.html" class="btn">Releases</a>
          <a href="index.html" class="btn">Project Home</a>
          <a href="{{ page.siteurl }}" class="btn">Site Home</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
